#Lede Program
#Data and databases 2015
#Session 07
#Number munging:  vectors, Pandas, probabilities

In [3]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

Get our big data file from my webpage. You can use `http` in your browser or `wget` or whatever. You'll need to uncompress it.

!wget http://www.columbia.edu/~mj340/HMXPC_13.zip    #etc. whatever

In [4]:
#check contents of directory!



#Our ritual: Exploratory data analysis


> Exploratory data analysis (EDA) seeks to reveal structure, or simple descriptions, in data. We look at numbers and graphs and try to find patterns.  
    - Persi Diaconis, "Theories of Data Analysis: From Magical Thinking Through Classical statistics"

> . . . proceeding via a ‘dustbowl’ empiricism is dangerous at worst and foolish at best . . . . The purely empirical approach is particularly dangerous in an age when computers and packaged programs are readily available, since there is temptation to substitute immediate empirical analysis for more analytic thought and theory building.
    - Einhorn, “Alchemy in the Behavioral Sciences,” 1972

>. . . we can view the techniques of EDA as a ritual designed to reveal patters in a data set. Thus, we may believe that naturally occurring data sets contain structure, that EDA is a useful vehicle for revealing the structure. . . . If we make no attempt to check whether the structure could have arisen by chance, and tend to accept the findinds as gospel, then the ritual comes close to magical thinking. ... a controlled form of magical thinking--in the guise of 'working hypothesis'--is a basic ingredient of scientific progress. 
    - Persi Diaconis, "Theories of Data Analysis: From Magical Thinking Through Classical statistics"

#From data to databases to data mining
- move from accessing and manipulating data to performing ever more complicated *queries* on our data


#`Pandas` first-line `python` tool for EDA
- rich data structures
- powerful ways to slice, dice, reformate, fix, and eliminate data
    - taste of what can do
- tables like Excel or a spreadsheet
- rich queries like databases
- manipulation on vectors and matrices directly

#`Pandas`: charismatic megafauna

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("HMXPC_13.csv", sep=",")

In [7]:
df.head()

,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,gender,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,2013-11-17,NaN,9,NaN,NaN,0,NaN,1
1,HarvardX/CS50x/2012,MHxPC130442623,1,1,0,0,United States,NaN,NaN,NaN,0,2012-10-15,NaN,NaN,9,NaN,1,0,NaN,1
2,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2013-02-08,2013-11-17,NaN,16,NaN,NaN,0,NaN,1
3,HarvardX/CS50x/2012,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-09-17,NaN,NaN,16,NaN,NaN,0,NaN,1
4,HarvardX/ER22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,NaN,NaN,16,NaN,NaN,0,NaN,1

In [8]:
df.describe()

,registered,viewed,explored,certified,YoB,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
count,641138,641138.000000,641138.000000,641138.000000,544533.000000,441987.000000,478395.000000,183608.000000,382385.000000,641138.000000,0,100161
mean,1,0.624299,0.061899,0.027587,1985.253279,431.008018,5.710254,114.844173,3.634423,0.018968,NaN,1
std,0,0.484304,0.240973,0.163786,8.891814,1516.116057,11.866471,426.996844,4.490987,0.229539,NaN,0
min,1,0.000000,0.000000,0.000000,1931.000000,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,1
25%,1,0.000000,0.000000,0.000000,1982.000000,3.000000,1.000000,5.000000,1.000000,0.000000,NaN,1
50%,1,1.000000,0.000000,0.000000,1988.000000,24.000000,2.000000,18.000000,2.000000,0.000000,NaN,1
75%,1,1.000000,0.000000,0.000000,1991.000000,158.000000,4.000000,73.000000,4.000000,0.000000,NaN,1
max,1,1.000000,1.000000,1.000000,2013.000000,197757.000000,205.000000,98517.000000,48.000000,20.000000,NaN,1

In [9]:
df.shape

(641138, 20)

In [10]:
df["course_id"]

0      HarvardX/CB22x/2013_Spring
1             HarvardX/CS50x/2012
2      HarvardX/CB22x/2013_Spring
3             HarvardX/CS50x/2012
4      HarvardX/ER22x/2013_Spring
5       HarvardX/PH207x/2012_Fall
6     HarvardX/PH278x/2013_Spring
7      HarvardX/CB22x/2013_Spring
8      HarvardX/CB22x/2013_Spring
9             HarvardX/CS50x/2012
10     HarvardX/ER22x/2013_Spring
11     HarvardX/ER22x/2013_Spring
12     HarvardX/CB22x/2013_Spring
13            HarvardX/CS50x/2012
14     HarvardX/ER22x/2013_Spring
...
641123     MITx/6.00x/2013_Spring
641124     MITx/6.00x/2013_Spring
641125    MITx/6.002x/2013_Spring
641126     MITx/6.00x/2013_Spring
641127    MITx/6.002x/2013_Spring
641128    MITx/14.73x/2013_Spring
641129     MITx/6.00x/2013_Spring
641130    MITx/14.73x/2013_Spring
641131     MITx/8.02x/2013_Spring
641132    MITx/6.002x/2013_Spring
641133     MITx/6.00x/2013_Spring
641134     MITx/6.00x/2013_Spring
641135    MITx/6.002x/2013_Spring
641136     MITx/6.00x/2013_Spring
641137     MITx/8.02x/2013_Spring
Name: course_id, Length: 641138, dtype: object

In [11]:
df["course_id"][3000:3005]

3000            HarvardX/CS50x/2012
3001      HarvardX/PH207x/2012_Fall
3002    HarvardX/PH278x/2013_Spring
3003            HarvardX/CS50x/2012
3004            HarvardX/CS50x/2012
Name: course_id, dtype: object

In [12]:
df[3000:3005]

,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,gender,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
3000,HarvardX/CS50x/2012,MHxPC130344411,1,0,0,0,United States,NaN,NaN,NaN,0,2012-08-16,NaN,NaN,12,NaN,NaN,0,NaN,1
3001,HarvardX/PH207x/2012_Fall,MHxPC130344411,1,1,0,0,United States,NaN,NaN,NaN,0,2012-08-16,2013-03-21,239,12,100,4,0,NaN,NaN
3002,HarvardX/PH278x/2013_Spring,MHxPC130344411,1,0,0,0,United States,NaN,NaN,NaN,0,2013-03-21,NaN,NaN,12,NaN,NaN,0,NaN,1
3003,HarvardX/CS50x/2012,MHxPC130210735,1,0,0,0,Pakistan,NaN,NaN,NaN,0.0,2012-09-13,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
3004,HarvardX/CS50x/2012,MHxPC130411842,1,1,0,0,Unknown/Other,NaN,NaN,NaN,0,2012-08-16,NaN,NaN,NaN,NaN,1,0,NaN,1

In [13]:
df.ix[666]

course_id            HarvardX/CS50x/2012
userid_DI                 MHxPC130297337
registered                             1
viewed                                 0
explored                               0
certified                              0
final_cc_cname_DI         United Kingdom
LoE_DI                               NaN
YoB                                  NaN
gender                               NaN
grade                                  0
start_time_DI                 2012-08-17
last_event_DI                        NaN
nevents                              NaN
ndays_act                            NaN
nplay_video                          NaN
nchapters                            NaN
nforum_posts                           0
roles                                NaN
incomplete_flag                      NaN
Name: 666, dtype: object

In [27]:
for d in df:
    print d

course_id
userid_DI
registered
viewed
explored
certified
final_cc_cname_DI
LoE_DI
YoB
gender
grade
start_time_DI
last_event_DI
nevents
ndays_act
nplay_video
nchapters
nforum_posts
roles
incomplete_flag

In [22]:
SELECT * FROM df WHERE final_cc_cname_DI = 'United States';

SyntaxError: invalid syntax (<ipython-input-22-a9f54bfb6c2e>, line 1)

In [23]:
df["final_cc_cname_DI"] == "United States"

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
...
641123    False
641124    False
641125     True
641126     True
641127    False
641128     True
641129    False
641130    False
641131    False
641132    False
641133    False
641134    False
641135     True
641136     True
641137     True
Name: final_cc_cname_DI, Length: 641138, dtype: bool

In [ ]:
df_US = df[df["final_cc_cname_DI"] == "United States"]

df_US

In [ ]:
df_ger = df[df["final_cc_cname_DI"] == "Germany"]

df_ger

# PYTHON SQL-ish

In [ ]:
df[(df["final_cc_cname_DI"]=="France") & (df["gender"]=="m")]

In [ ]:
df["nplay_video"]

In [ ]:
df["gender"]

In [ ]:
df["nplay_video"].dropna().plot()

In [ ]:
df[df["nplay_video"]>80000]

In [ ]:
country = df["final_cc_cname_DI"].value_counts()
country

In [ ]:
country.describe()

In [ ]:
country[:15].plot(kind="bar")

In [ ]:
df["nplay_video"].max()

# GROUPBY !!

In [ ]:
df.groupby(by="final_cc_cname_DI").mean()

In [ ]:
df.groupby(by="final_cc_cname_DI").max()

In [ ]:
df.groupby(by="final_cc_cname_DI")["nplay_video"].max()

In [ ]:
df.groupby(by="final_cc_cname_DI")["nplay_video", "certified"].mean()

In [ ]:
gender = df.groupby(by=["final_cc_cname_DI", "gender"]).mean()

In [ ]:
gender.plot(kind="bar")

# MATH is FUN

In [ ]:
toy_df = pd.DataFrame({"a": [10,20,30], "b": [15,25,35]})

In [ ]:
toy_df

In [ ]:
toy_df*10

In [ ]:
toy_df.max()

In [ ]:
toy_df.max(axis=1)